##[Ссылка на датасет](https://huggingface.co/datasets/Rianknow/creditscoring)

In [1]:
!pip install category_encoders
!pip install catboost
!pip install optuna
!pip install lime -q
!pip install shap -q
!pip install eli5 -q
!pip install phik -q
!pip install catboost
!pip install optuna
!pip install optuna-integration[catboost]
!pip install optuna catboost -q
import optuna
from optuna.integration import CatBoostPruningCallback
import phik
from phik.report import plot_correlation_matrix
from phik import report
from catboost import CatBoostClassifier
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
import numpy as np
import pandas as pd
import pickle
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn import tree
from sklearn.preprocessing import PolynomialFeatures
from tqdm import tqdm
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
import shap
import lime
from catboost import CatBoostRegressor, Pool, CatBoostClassifier

Requirement already satisfied: category_encoders in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (2.6.4)
Requirement already satisfied: numpy>=1.14.0 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from category_encoders) (1.26.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from category_encoders) (1.6.0)
Requirement already satisfied: scipy>=1.0.0 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from category_encoders) (1.14.1)
Requirement already satisfied: statsmodels>=0.9.0 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from category_encoders) (0.14.4)
Requirement already satisfied: pandas>=1.0.5 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from category_encoders) (2.2.3)
Requirement already satisfied: patsy>=0.5.1 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from category_encoders) (0.5.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from pandas>=1.0.5->category_encoders) (2024.1)
Requirement already satisfied: six in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from scikit-learn>=0.20.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from statsmodels>=0.9.0->category_encoders) (24.2)
Requirement already satisfied: catboost in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (1.2.7)
Requirement already satisfied: graphviz in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from catboost) (3.9.2)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from catboost) (1.26.4)
Requirement already satisfied: pandas>=0.24 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from catboost) (2.2.3)
Requirement already satisfied: scipy in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from catboost) (1.14.1)
Requirement already satisfied: plotly in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from matplotlib->catboost) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from matplotlib->catboost) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from matplotlib->catboost) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from matplotlib->catboost) (24.2)
Requirement already satisfied: pillow>=8 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from matplotlib->catboost) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from matplotlib->catboost) (3.2.0)
Requirement already satisfied: tenacity>=6.2.0 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from plotly->catboost) (9.0.0)
Requirement already satisfied: optuna in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (4.1.0)
Requirement already satisfied: alembic>=1.5.0 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from optuna) (1.14.0)
Requirement already satisfied: colorlog in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from optuna) (6.9.0)
Requirement already satisfied: numpy in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from optuna) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from optuna) (24.2)
Requirement already satisfied: sqlalchemy>=1.4.2 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from optuna) (2.0.36)
Requirement already satisfied: tqdm in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from optuna) (4.67.0)
Requirement already satisfied: PyYAML in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from optuna) (6.0.2)
Requirement already satisfied: Mako in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from alembic>=1.5.0->optuna) (1.3.8)
Requirement already satisfied: typing-extensions>=4 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from alembic>=1.5.0->optuna) (4.11.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from Mako->alembic>=1.5.0->optuna) (3.0.2)
Requirement already satisfied: catboost in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (1.2.7)
Requirement already satisfied: graphviz in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from catboost) (3.9.2)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from catboost) (1.26.4)
Requirement already satisfied: pandas>=0.24 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from catboost) (2.2.3)
Requirement already satisfied: scipy in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from catboost) (1.14.1)
Requirement already satisfied: plotly in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from pandas>=0.24->catboost) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from matplotlib->catboost) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from matplotlib->catboost) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from matplotlib->catboost) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from matplotlib->catboost) (24.2)
Requirement already satisfied: pillow>=8 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from matplotlib->catboost) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from matplotlib->catboost) (3.2.0)
Requirement already satisfied: tenacity>=6.2.0 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from plotly->catboost) (9.0.0)
Requirement already satisfied: optuna in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (4.1.0)
Requirement already satisfied: alembic>=1.5.0 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from optuna) (1.14.0)
Requirement already satisfied: colorlog in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from optuna) (6.9.0)
Requirement already satisfied: numpy in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from optuna) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from optuna) (24.2)
Requirement already satisfied: sqlalchemy>=1.4.2 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from optuna) (2.0.36)
Requirement already satisfied: tqdm in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from optuna) (4.67.0)
Requirement already satisfied: PyYAML in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from optuna) (6.0.2)
Requirement already satisfied: Mako in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from alembic>=1.5.0->optuna) (1.3.8)
Requirement already satisfied: typing-extensions>=4 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from alembic>=1.5.0->optuna) (4.11.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages (from Mako->alembic>=1.5.0->optuna) (3.0.2)
zsh:1: no matches found: optuna-integration[catboost]

/Users/admin/Dev/vue/sibsutis/CRM-SibSUTIS/backend/venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv('./dataset/creditscoring/train.csv', sep = ',')
df.replace('_', np.nan, inplace = True)
df.head()

/var/folders/_m/n57jfftj32jbkm7dyvz9gpj80000gn/T/ipykernel_48160/3777082345.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./dataset/creditscoring/train.csv', sep = ',')

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,NaN,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [3]:
df.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [4]:
df.shape

# df.drop(columns='Name', inplace=True, axis=1) # Удаление столбца

(100000, 28)

In [5]:
print((df.isnull().sum())/df.shape[0]*100)

ID                           0.000
Customer_ID                  0.000
Month                        0.000
Name                         9.985
Age                          0.000
SSN                          0.000
Occupation                   0.000
Annual_Income                0.000
Monthly_Inhand_Salary       15.002
Num_Bank_Accounts            0.000
Num_Credit_Card              0.000
Interest_Rate                0.000
Num_of_Loan                  0.000
Type_of_Loan                11.408
Delay_from_due_date          0.000
Num_of_Delayed_Payment       7.002
Changed_Credit_Limit         2.091
Num_Credit_Inquiries         1.965
Credit_Mix                  20.195
Outstanding_Debt             0.000
Credit_Utilization_Ratio     0.000
Credit_History_Age           9.030
Payment_of_Min_Amount        0.000
Total_EMI_per_month          0.000
Amount_invested_monthly      4.479
Payment_Behaviour            0.000
Monthly_Balance              1.200
Credit_Score                 0.000
dtype: float64

In [6]:
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].str.replace('_', '')
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].str.replace('__', '')
df['Monthly_Balance'] = df['Monthly_Balance'].str.replace('__', '')
df['Age'] = df['Age'].str.replace('_', '')
df['Annual_Income'] = df['Annual_Income'].str.replace('_', '')
df['Outstanding_Debt'] = df['Outstanding_Debt'].str.replace('_', '')
df['Num_of_Loan'] = df['Num_of_Loan'].str.replace('_', '')
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].str.replace('_', '')

df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].astype(float)
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].astype(float)
df['Monthly_Balance'] = df['Monthly_Balance'].astype(float)
df['Age'] = df['Age'].astype(int)
df['Annual_Income'] = df['Annual_Income'].astype(float)
df['Outstanding_Debt'] = df['Outstanding_Debt'].astype(float)
df['Num_of_Loan'] = df['Num_of_Loan'].astype(float)
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].astype(float)

In [ ]:
dropCol = [
  'ID', 
  'SSN', 
  'Name', 
  'Customer_ID', 
  'Credit_History_Age', 
  'Occupation', 
  'Num_Bank_Accounts', 
  'Num_Credit_Card', 
  'Type_of_Loan', 
  'Interest_Rate', 
  'Num_of_Delayed_Payment', 
  'Changed_Credit_Limit', 
  'Credit_Mix', 
  'Outstanding_Debt', 
  'Credit_Utilization_Ratio', 
  'Payment_of_Min_Amount', 
  'Amount_invested_monthly',
  'Monthly_Balance',
  'Total_EMI_per_month', 
  'Payment_Behaviour'
]

for col in dropCol:
  df.drop(columns=col, inplace=True, axis=1)

cat_features = []

for col_name, col_type in df.dtypes.items():
  if (col_type == object):
    cat_features.append(col_name)

del cat_features[cat_features.index('Credit_Score')]

cat_features

['Month',
 'Occupation',
 'Type_of_Loan',
 'Credit_Mix',
 'Payment_of_Min_Amount',
 'Payment_Behaviour']

In [8]:
def for_cat_Nan(df, features):
    for feature in features:
        mode_value = df[feature].mode()[0]
        df[feature].fillna(mode_value, inplace=True)
def for_num_Nan(df, features):
    for feature in features:
        median_value = df[feature].mode()[0]
        df[feature].fillna(median_value, inplace=True)

cat_Nan = ['Type_of_Loan', 'Credit_Mix']
num_Nan = ['Monthly_Inhand_Salary', 'Num_Credit_Inquiries', 'Amount_invested_monthly', 'Num_of_Delayed_Payment', 'Monthly_Balance', 'Changed_Credit_Limit']

for_cat_Nan(df,cat_Nan)
for_num_Nan(df,num_Nan)

/var/folders/_m/n57jfftj32jbkm7dyvz9gpj80000gn/T/ipykernel_48160/4286832188.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[feature].fillna(mode_value, inplace=True)
/var/folders/_m/n57jfftj32jbkm7dyvz9gpj80000gn/T/ipykernel_48160/4286832188.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[feature].fillna(median_value, inplace=True)

In [9]:
print((df.isnull().sum())/df.shape[0]*100)

Month                       0.0
Age                         0.0
Occupation                  0.0
Annual_Income               0.0
Monthly_Inhand_Salary       0.0
Num_Bank_Accounts           0.0
Num_Credit_Card             0.0
Interest_Rate               0.0
Num_of_Loan                 0.0
Type_of_Loan                0.0
Delay_from_due_date         0.0
Num_of_Delayed_Payment      0.0
Changed_Credit_Limit        0.0
Num_Credit_Inquiries        0.0
Credit_Mix                  0.0
Outstanding_Debt            0.0
Credit_Utilization_Ratio    0.0
Payment_of_Min_Amount       0.0
Total_EMI_per_month         0.0
Amount_invested_monthly     0.0
Payment_Behaviour           0.0
Monthly_Balance             0.0
Credit_Score                0.0
dtype: float64

In [10]:
df.dtypes

Month                        object
Age                           int64
Occupation                   object
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                 float64
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour            object
Monthly_Balance             float64
Credit_Score                 object
dtype: object

In [11]:
label_encoder = LabelEncoder()

for col_name, col_type in df.dtypes.items():
  if (col_type == object):
    print(df[col_name].value_counts(), end='\n\n')
    df[col_name] = label_encoder.fit_transform(df[col_name])

Month
January     12500
February    12500
March       12500
April       12500
May         12500
June        12500
July        12500
August      12500
Name: count, dtype: int64

Occupation
_______          7062
Lawyer           6575
Architect        6355
Engineer         6350
Scientist        6299
Mechanic         6291
Accountant       6271
Developer        6235
Media_Manager    6232
Teacher          6215
Entrepreneur     6174
Doctor           6087
Journalist       6085
Manager          5973
Musician         5911
Writer           5885
Name: count, dtype: int64

Type_of_Loan
Not Specified                                                                                                                         12816
Credit-Builder Loan                                                                                                                    1280
Personal Loan                                                                                                                          1272
Debt Consolidation Loan                                                                                                                1264
Student Loan                                                                                                                           1240
                                                                                                                                      ...
Not Specified, Mortgage Loan, Auto Loan, and Payday Loan                                                                                  8
Payday Loan, Mortgage Loan, Debt Consolidation Loan, and Student Loan                                                                     8
Debt Consolidation Loan, Auto Loan, Personal Loan, Debt Consolidation Loan, Student Loan, and Credit-Builder Loan                         8
Student Loan, Auto Loan, Student Loan, Credit-Builder Loan, Home Equity Loan, Debt Consolidation Loan, and Debt Consolidation Loan        8
Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan                                                                   8
Name: count, Length: 6260, dtype: int64

Credit_Mix
Standard    56674
Good        24337
Bad         18989
Name: count, dtype: int64

Payment_of_Min_Amount
Yes    52326
No     35667
NM     12007
Name: count, dtype: int64

Payment_Behaviour
Low_spent_Small_value_payments      25513
High_spent_Medium_value_payments    17540
Low_spent_Medium_value_payments     13861
High_spent_Large_value_payments     13721
High_spent_Small_value_payments     11340
Low_spent_Large_value_payments      10425
!@9#%8                               7600
Name: count, dtype: int64

Credit_Score
Standard    53174
Poor        28998
Good        17828
Name: count, dtype: int64

In [12]:
df.rename(columns={'Credit_Score': 'target'}, inplace=True)

In [13]:
df.head()

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,target
0,3,23,12,19114.12,1824.843333,3,4,3,4.0,128,...,4.0,2,809.98,26.822620,1,49.574949,80.415295,3,312.494089,0
1,2,23,12,19114.12,2295.058333,3,4,3,4.0,128,...,4.0,1,809.98,31.944960,1,49.574949,118.280222,4,284.629162,0
2,6,-500,12,19114.12,2295.058333,3,4,3,4.0,128,...,4.0,1,809.98,28.609352,1,49.574949,81.699521,5,331.209863,0
3,0,23,12,19114.12,2295.058333,3,4,3,4.0,128,...,4.0,1,809.98,31.377862,1,49.574949,199.458074,6,223.451310,0
4,7,23,12,19114.12,1824.843333,3,4,3,4.0,128,...,4.0,1,809.98,24.797347,1,49.574949,41.420153,2,341.489231,0

In [14]:
df.dtypes

Month                         int64
Age                           int64
Occupation                    int64
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                 float64
Type_of_Loan                  int64
Delay_from_due_date           int64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                    int64
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Payment_of_Min_Amount         int64
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour             int64
Monthly_Balance             float64
target                        int64
dtype: object


---
## Валидация

In [15]:
# Разделение на три выборки (трэин / тест / валидация)
X = df.drop(columns='target')
y = df['target']
X_t, X_test, y_t, y_test = train_test_split(X, y,
                                                    test_size=0.2,
                                                    #shuffle=True,
                                                    stratify=y,
                                                    random_state=100)
X_train, X_val, y_train, y_val = train_test_split(X_t, y_t,
                                                    test_size=0.25,
                                                   # shuffle=True,
                                                    stratify=y_t,
                                                    random_state=100)

In [16]:
# with open('./saved_model/model.pkl', 'wb') as file:
#     pickle.dump(clf_for_catboost, file)

In [17]:
# Чистим колокнки
cat_features_copy = ['Month',
 'Occupation',
 'Type_of_Loan',
 'Credit_Mix',
 'Payment_of_Min_Amount',
 'Payment_Behaviour'];
targets = ["target"]
features2drop = []
filtered_features = [i for i in X_train.columns if (i not in targets and i not in features2drop)]
num_features = [i for i in filtered_features if i not in cat_features]

In [18]:
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score, f1_score


# Обучение модели CatBoost с лучшими гиперпараметрами
clf = CatBoostClassifier(
    thread_count=-1,
    random_seed=100,
    cat_features=cat_features,
)

# Обучение на тренировочных данных
clf.fit(
    X_train,
    y_train,
    eval_set=(X_val, y_val),
    verbose=0,
    plot=False,
    early_stopping_rounds=50,
)

# Предсказание на тренировочном наборе
y_train_pred = clf.predict(X_train)

# Предсказание на валидационном наборе
y_val_pred = clf.predict(X_train)

# Предсказание на тестовом наборе
y_test_pred = clf.predict(X_test)

# Вычисление и вывод точности и F1-меры
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)

train_f1 = f1_score(y_train, y_train_pred, average = 'weighted')
test_f1 = f1_score(y_test, y_test_pred, average = 'weighted')

print("Accuracy on train set: {:.4f}".format(train_accuracy))
print("Accuracy on test set: {:.4f}".format(test_accuracy))

print("F1 score on train set: {:.4f}".format(train_f1))
print("F1 score on test set: {:.4f}".format(test_f1))

Accuracy on train set: 0.8428
Accuracy on test set: 0.7882
F1 score on train set: 0.8431
F1 score on test set: 0.7886

In [19]:
df.dtypes

Month                         int64
Age                           int64
Occupation                    int64
Annual_Income               float64
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                 float64
Type_of_Loan                  int64
Delay_from_due_date           int64
Num_of_Delayed_Payment      float64
Changed_Credit_Limit        float64
Num_Credit_Inquiries        float64
Credit_Mix                    int64
Outstanding_Debt            float64
Credit_Utilization_Ratio    float64
Payment_of_Min_Amount         int64
Total_EMI_per_month         float64
Amount_invested_monthly     float64
Payment_Behaviour             int64
Monthly_Balance             float64
target                        int64
dtype: object

In [20]:
from catboost import CatBoostClassifier
from sklearn.metrics import accuracy_score, f1_score


# Обучение модели CatBoost с лучшими гиперпараметрами
clf = CatBoostClassifier(
    thread_count=-1,
    random_seed=100,
    cat_features=cat_features,
)

# Обучение на тренировочных данных
clf.fit(
    X_train,
    y_train,
    eval_set=(X_val, y_val),
    verbose=0,
    plot=False,
    early_stopping_rounds=50,
)

# Предсказание на тренировочном наборе
y_train_pred = clf.predict(X_train)

# Предсказание на валидационном наборе
y_val_pred = clf.predict(X_val)

# Предсказание на тестовом наборе
y_test_pred = clf.predict(X_test)

# Вычисление и вывод точности и F1-меры
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)

train_f1 = f1_score(y_train, y_train_pred, average = 'weighted')
test_f1 = f1_score(y_test, y_test_pred, average = 'weighted')

print("Accuracy on train set: {:.4f}".format(train_accuracy))
print("Accuracy on test set: {:.4f}".format(test_accuracy))

print("F1 score on train set: {:.4f}".format(train_f1))
print("F1 score on test set: {:.4f}".format(test_f1))

Accuracy on train set: 0.8428
Accuracy on test set: 0.7882
F1 score on train set: 0.8431
F1 score on test set: 0.7886

In [21]:
import numpy as np
import pandas as pd
from sklearn.model_selection import StratifiedKFold, train_test_split
from sklearn.metrics import accuracy_score
from catboost import CatBoostClassifier

# Предполагаем, что df_for_auto уже определен и содержит три класса в столбце 'target'
X = df.drop(['target'], axis=1)
y = df['target']
n_splits = 10

clfs = [] # Модели, которые обучаю
scores = [] # Оценка предсказаний точности
kf = StratifiedKFold(n_splits=n_splits, shuffle=True, random_state=7575)

for train_index, test_index in kf.split(X, y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

    # Разделение обучающего набора на обучающую и валидационную выборки
    X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.3, random_state=7575)

    # Создайте CatBoostClassifier для многоклассовой классификации
    clf_for_catboost = CatBoostClassifier(
        iterations=1000,
        learning_rate=0.1,
        depth=6,
        cat_features=cat_features,
        eval_metric='MultiClass',  # Установите метрику для многоклассовой классификации
        random_seed=7575,
        verbose=0  # Установите в 0, чтобы отключить вывод во время обучения
    )

    clfs.append(clf_for_catboost)

    # Обучение модели на обучающей выборке
    clf_for_catboost.fit(X_train, y_train)

    # Прогнозирование на тестовом наборе
    y_pred = clf_for_catboost.predict(X_test)
    score = accuracy_score(y_test, y_pred)
    scores.append(score)

    print(f"fold: acc: {score}")

assert len(clfs) == n_splits
print("mean accuracy score --", np.mean(scores), np.std(scores).round(4))

fold: acc: 0.7929
fold: acc: 0.7935
fold: acc: 0.7919
fold: acc: 0.7906
fold: acc: 0.7897
fold: acc: 0.7854
fold: acc: 0.7922
fold: acc: 0.7911
fold: acc: 0.7968
fold: acc: 0.7908
mean accuracy score -- 0.7914899999999999 0.0028

In [22]:
with open('./saved_model/model.pkl', 'wb') as file:
    pickle.dump(clf_for_catboost, file)